PORT=5000
MONGO_URI=your_mongodb_connection_string
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=your_local_hardhat_private_key
CONTRACT_ADDRESS=your_deployed_contract_address
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
